In [1]:
import csv
import pandas as pd
import numpy as py
import os

In [2]:
age="data/age.csv"
female_gender="data/female_gender.csv"
final_elected="data/final_elected.csv"
income="data/income.csv"
male_gender="data/male_gender.csv"

In [3]:
def unicode_csv_reader(utf8_data, dialect=csv.excel, **kwargs):
    csv_reader = csv.reader(utf8_data, dialect=dialect, **kwargs)
    for row in csv_reader:
        yield [unicode(cell, 'utf-8') for cell in row]
filename = age
reader = unicode_csv_reader(open(filename))

In [5]:
reader

In [6]:
agepd=pd.read_csv(age, engine='python')

In [7]:
agepd2=agepd[["Prov/Terr", "FED ID", "Federal Electoral Districts", "Total", "Total Income", "Under 20", "20-24", "25-29", "30-34", "35-39","40-44","45-49", "50-54","55-59","60-64","65-69","70-74","70-74","Over 75"]]

In [8]:
agepd2

,Prov/Terr,FED ID,Federal Electoral Districts,Total,Total Income,Under 20,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,70-74,Over 75
0,10,10001.0,Avalon,72030,3.425814e+09,2670,4470,4880,5600,5750,6110,6310,6800,6810,6620,6160,4340,4340,5520
1,10,10002.0,Bonavista--Burin--Trinity,64920,2.453784e+09,2330,3410,3100,3290,3790,4560,5520,6220,6620,7400,6840,4980,4980,6870
2,10,10003.0,Coast of Bays--Central--Notre Dame,65130,2.458068e+09,2270,3520,3340,3450,3850,4750,5700,6260,6670,6730,6470,4810,4810,7320
3,10,10004.0,Labrador,20830,1.169248e+09,930,1670,1980,1960,1870,1950,2190,2020,1790,1480,1240,820,820,940
4,10,10005.0,Long Range Mountains,77250,2.914423e+09,2560,4360,4220,4110,4550,5400,6540,7660,8130,8390,7550,5480,5480,8320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,61,61001.0,Northwest Territories,31890,1.890342e+09,1700,3120,3680,3520,3200,2730,2890,3050,2720,1990,1400,850,850,1040
348,TOTAL,NaN,NaN,31890,1.890342e+09,1700,3120,3680,3520,3200,2730,2890,3050,2720,1990,1400,850,850,1040
349,62,62001.0,Nunavut,21440,1.039849e+09,1540,2760,3030,2620,2200,1920,2010,1710,1350,940,620,370,370,380
350,TOTAL,NaN,NaN,21440,1.039849e+09,1540,2760,3030,2620,2200,1920,2010,1710,1350,940,620,370,370,380
351,TOTAL,NaN,NaN,27977590,1.321160e+12,1080480,2161000,2306560,2328320,2277940,2192220,2253910,2513710,2516690,2256000,1949950,1475680,1475680,2665150

In [68]:
incomepd=pd.read_csv(income, engine='python')

In [69]:
incomepd2=incomepd[["Prov/Terr", "FED ID", "Federal Electoral Districts", "Total", "Total Income", "Net Income", "Taxable Income"]]

In [70]:
incomepd2

,Prov/Terr,FED ID,Federal Electoral Districts,Total,Total Income,Net Income,Taxable Income
0,10,10001.0,Avalon,72030,3425814000,3168392000,3060218000
1,10,10002.0,Bonavista--Burin--Trinity,64920,2453784000,2303218000,2185134000
2,10,10003.0,Coast of Bays--Central--Notre Dame,65130,2458068000,2286474000,2173178000
3,10,10004.0,Labrador,20830,1169248000,1089412000,992898000
4,10,10005.0,Long Range Mountains,77250,2914423000,2714495000,2579982000
...,...,...,...,...,...,...,...
347,61,61001.0,Northwest Territories,31890,1890342000,1745859000,1581001000
348,TOTAL,NaN,NaN,31890,1890342000,1745859000,1581001000
349,62,62001.0,Nunavut,21440,1039849000,969968000,856212000
350,TOTAL,NaN,NaN,21440,1039849000,969968000,856212000
351,TOTAL,NaN,NaN,27977590,1321160054000,1214595502000,1173674141000

In [71]:
malepd=pd.read_csv(male_gender, engine='python')

In [72]:
malepd2=malepd[["Prov/Terr", "FED ID", "Federal Electoral Districts", "Total", "Total Income", "Under $5,000", "$5,000 to $9,999", "$10,000 to $14,999", "$15,000 to $19,999", "$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999", "$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $54,999","$55,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999", "$80,000 to $89,999","$90,000 to $99,999","$100,000 to $149,999","$150,000 to $249,999","$250,000 and over"]]

In [73]:
malepd2

,Prov/Terr,FED ID,Federal Electoral Districts,Total,Total Income,"Under $5,000","$5,000 to $9,999","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999",...,"$45,000 to $49,999","$50,000 to $54,999","$55,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999","$100,000 to $149,999","$150,000 to $249,999","$250,000 and over"
0,10,10001.0,Avalon,35410,2129874000,1780,1450,1920,2910,2050,...,1690,1490,1400,2470,2030,1590,1410,3800,1730,330
1,10,10002.0,Bonavista--Burin--Trinity,32200,1564974000,1570,1470,2180,3920,2480,...,1610,1270,1090,1730,1290,1010,900,2550,990,140
2,10,10003.0,Coast of Bays--Central--Notre Dame,31830,1506208000,1670,1470,2270,3770,2270,...,1670,1310,1220,1920,1250,1010,860,2040,850,150
3,10,10004.0,Labrador,10510,755063000,710,420,460,490,360,...,370,370,360,580,530,560,540,2290,730,70
4,10,10005.0,Long Range Mountains,37670,1729013000,2160,1880,2690,4350,2700,...,1990,1580,1420,2200,1630,1240,1030,2190,740,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,61,61001.0,Northwest Territories,16310,1065921000,1740,1070,1040,950,790,...,460,430,420,820,780,760,750,3020,950,210
348,TOTAL,NaN,NaN,16310,1065921000,1740,1070,1040,950,790,...,460,430,420,820,780,760,750,3020,950,210
349,62,62001.0,Nunavut,10780,554056000,1630,1230,720,690,650,...,290,220,200,400,390,410,380,1330,530,80
350,TOTAL,NaN,NaN,10780,554056000,1630,1230,720,690,650,...,290,220,200,400,390,410,380,1330,530,80
351,TOTAL,NaN,NaN,13577320,765851678000,1015380,716120,951790,1007900,852010,...,665520,589020,532590,919390,751210,582830,460980,1052700,433710,197680

In [74]:
femalepd=pd.read_csv(female_gender, engine='python')

In [75]:
femalepd2=femalepd[["Prov/Terr", "FED ID", "Federal Electoral Districts", "Total", "Total Income", "Under $5,000", "$5,000 to $9,999", "$10,000 to $14,999", "$15,000 to $19,999", "$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999", "$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $54,999","$55,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999", "$80,000 to $89,999","$90,000 to $99,999","$100,000 to $149,999","$150,000 to $249,999","$250,000 and over"]]

In [76]:
femalepd2

,Prov/Terr,FED ID,Federal Electoral Districts,Total,Total Income,"Under $5,000","$5,000 to $9,999","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999",...,"$45,000 to $49,999","$50,000 to $54,999","$55,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999","$100,000 to $149,999","$150,000 to $249,999","$250,000 and over"
0,10,10001.0,Avalon,36620,1295940000,3220,2540,3870,4640,3250,...,1850,1320,1080,1570,1230,1120,890,870,230,80
1,10,10002.0,Bonavista--Burin--Trinity,32720,888810000,3150,2560,4590,5680,3780,...,1040,670,610,640,530,510,430,390,80,30
2,10,10003.0,Coast of Bays--Central--Notre Dame,33290,951860000,3230,2620,4810,5360,3620,...,1130,740,620,800,660,630,490,430,160,40
3,10,10004.0,Labrador,10330,414185000,1350,770,820,800,760,...,460,400,300,550,430,320,280,640,90,30
4,10,10005.0,Long Range Mountains,39580,1185410000,3410,2900,5250,6250,4270,...,1510,1090,920,1040,880,850,630,570,120,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,61,61001.0,Northwest Territories,15570,824421000,2070,1040,1070,960,860,...,470,430,440,880,890,810,730,2050,440,80
348,TOTAL,NaN,NaN,15570,824421000,2070,1040,1070,960,860,...,470,430,440,880,890,810,730,2050,440,80
349,62,62001.0,Nunavut,10660,485793000,1890,1140,980,820,670,...,230,170,190,310,310,400,420,1450,300,40
350,TOTAL,NaN,NaN,10660,485793000,1890,1140,980,820,670,...,230,170,190,310,310,400,420,1450,300,40
351,TOTAL,NaN,NaN,14400270,555308376000,1633970,978250,1337810,1484670,1239470,...,695210,532650,445430,694320,541080,387210,311140,503680,176240,70580

In [77]:
final_electedpd=pd.read_csv(final_elected, engine='python')

In [80]:
final_electedpd2=final_electedpd.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12]]
final_electedpd2

,ï»¿Province,Federal Electoral Districts,FED ID,Population,Electors/Ã‰lecteurs,Polling Stations/Bureaux de scrutin,Valid Ballots/Bulletins valides,Percentage of Valid Ballots /Pourcentage des bulletins valides,Rejected Ballots/Bulletins rejetÃ©s,Percentage of Rejected Ballots /Pourcentage des bulletins rejetÃ©s,Total Ballots Cast/Total des bulletins dÃ©posÃ©s,Percentage of Voter Turnout/Pourcentage de la participation Ã©lectorale,Elected Candidate/Candidat Ã©lu
0,Newfoundland and Labrador/Terre-Neuve-et-Labrador,Avalon,10001,81540,68487,220,42086,99.6,162,0.4,42248,61.7,"McDonald, Ken Liberal/LibÃ©ral"
1,Newfoundland and Labrador/Terre-Neuve-et-Labrador,Bonavista--Burin--Trinity,10002,76704,62462,260,35092,99.5,173,0.5,35265,56.5,"Foote, Judy M. Liberal/LibÃ©ral"
2,Newfoundland and Labrador/Terre-Neuve-et-Labrador,Coast of Bays--Central--Notre Dame,10003,78092,64226,233,35448,99.6,145,0.4,35593,55.4,"Simms, Scott Liberal/LibÃ©ral"
3,Newfoundland and Labrador/Terre-Neuve-et-Labrador,Labrador,10004,26728,20045,84,12373,99.6,53,0.4,12426,62.0,"Jones, Yvonne Liberal/LibÃ©ral"
4,Newfoundland and Labrador/Terre-Neuve-et-Labrador,Long Range Mountains,10005,87592,71918,253,41824,99.7,108,0.3,41932,58.3,"Hutchings, Gudie Liberal/LibÃ©ral"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,British Columbia/Colombie-Britannique,Victoria,59041,110942,94627,251,71895,99.7,241,0.3,72136,76.2,"Rankin, Murray NDP-New Democratic Party/NPD-No..."
334,British Columbia/Colombie-Britannique,West Vancouver--Sunshine Coast--Sea to Sky Cou...,59042,112875,90554,244,66458,99.7,173,0.3,66631,73.6,"Goldsmith-Jones, Pam Liberal/LibÃ©ral"
335,Yukon,Yukon,60001,33897,26879,82,20291,99.5,94,0.5,20385,75.8,"Bagnell, Larry Liberal/LibÃ©ral"
336,Northwest Territories/Territoires du Nord-Ouest,Northwest Territories/Territoires du Nord-Ouest,61001,41462,30110,91,18973,99.5,104,0.5,19077,63.4,"McLeod, Michael Liberal/LibÃ©ral"
337,Nunavut,Nunavut,62001,31906,20252,59,11928,99.2,95,0.8,12023,59.4,"Tootoo, Hunter Liberal/LibÃ©ral"

In [84]:
mergedgender = pd.merge(malepd2, femalepd2, how="inner", on=["FED ID", "Federal Electoral Districts", "Prov/Terr"])

In [86]:
mergedgenderpd=mergedgender[["Prov/Terr","FED ID","Federal Electoral Districts","Total_x","Total Income_x","Total_y","Total Income_y"]]

In [89]:
mergedgenderpd.rename(columns={"Total_x" : "Total Males", "Total Income_x" : "Total Income of Men", "Total_y" : "Total Females", "Total Income_y":"Total Income of Women"})

,Prov/Terr,FED ID,Federal Electoral Districts,Total Males,Total Income of Men,Total Females,Total Income of Women
0,10,10001.0,Avalon,35410,2129874000,36620,1295940000
1,10,10002.0,Bonavista--Burin--Trinity,32200,1564974000,32720,888810000
2,10,10003.0,Coast of Bays--Central--Notre Dame,31830,1506208000,33290,951860000
3,10,10004.0,Labrador,10510,755063000,10330,414185000
4,10,10005.0,Long Range Mountains,37670,1729013000,39580,1185410000
...,...,...,...,...,...,...,...
529,59,59041.0,Victoria,45130,2806408000,51740,2463542000
530,59,59042.0,West Vancouver--Sunshine Coast--Sea to Sky Cou...,47470,3874496000,51380,2611750000
531,60,60001.0,Yukon,14260,841179000,14450,729651000
532,61,61001.0,Northwest Territories,16310,1065921000,15570,824421000
533,62,62001.0,Nunavut,10780,554056000,10660,485793000

In [94]:
IPD = incomepd2["Total Income"]/incomepd2["Total"]

In [101]:
incomepd2.index.name = "index"
IPD.name= "Income per Resident"

In [103]:
incomepdfinal=incomepd2.join(IPD, on="index", rsuffix="x")

In [104]:
incomepdfinal

,Prov/Terr,FED ID,Federal Electoral Districts,Total,Total Income,Net Income,Taxable Income,Income per Residnet,Income per Resident,Income per Residentx
index,,,,,,,,,,
0,10,10001.0,Avalon,72030,3425814000,3168392000,3060218000,47560.932945,47560.932945,47560.932945
1,10,10002.0,Bonavista--Burin--Trinity,64920,2453784000,2303218000,2185134000,37797.042514,37797.042514,37797.042514
2,10,10003.0,Coast of Bays--Central--Notre Dame,65130,2458068000,2286474000,2173178000,37740.948871,37740.948871,37740.948871
3,10,10004.0,Labrador,20830,1169248000,1089412000,992898000,56132.885262,56132.885262,56132.885262
4,10,10005.0,Long Range Mountains,77250,2914423000,2714495000,2579982000,37727.158576,37727.158576,37727.158576
...,...,...,...,...,...,...,...,...,...,...
347,61,61001.0,Northwest Territories,31890,1890342000,1745859000,1581001000,59276.952023,59276.952023,59276.952023
348,TOTAL,NaN,NaN,31890,1890342000,1745859000,1581001000,59276.952023,59276.952023,59276.952023
349,62,62001.0,Nunavut,21440,1039849000,969968000,856212000,48500.419776,48500.419776,48500.419776
350,TOTAL,NaN,NaN,21440,1039849000,969968000,856212000,48500.419776,48500.419776,48500.419776
351,TOTAL,NaN,NaN,27977590,1321160054000,1214595502000,1173674141000,47222.082174,47222.082174,47222.082174